<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    </appSettings>
    <system.web>
        <globalization uiCulture="en-US" culture="en-US" />
        <authentication mode="None" />
        <httpRuntime targetFramework="4.8" maxRequestLength="102400" maxQueryStringLength="32768"
                     enableVersionHeader="false" shutdownTimeout="600" delayNotificationTimeout="10"
                     waitChangeNotification="0" maxWaitChangeNotification="0" />
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="104857600" maxQueryString="32768" />
            </requestFiltering>
        </security>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="FormsAuthentication" />
            <remove name="WebDAVModule" />
        </modules>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />

            <remove name="OPTIONSVerbHandler" />

            <remove name="TRACEVerbHandler" />

            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*"
                 type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />

            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />

            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />

            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />

            <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*."
                 verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule"
                 scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll"
                 preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />

            <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*."
                 verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule"
                 scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll"
                 preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />

            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*."
                 verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler"
                 preCondition="integratedMode,runtimeVersionv4.0" />

            <remove name="BlockViewHandler" />

            <add name="BlockViewHandler" path="Views/*" verb="*" preCondition="integratedMode"
                 type="System.Web.HttpNotFoundHandler" />
        </handlers>
    </system.webServer>
    <system.serviceModel>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" culture="neutral" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                      type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      warningLevel="4" compilerOptions="/langversion:latest /nowarn:1659;1699;1701" />
        </compilers>
    </system.codedom>
</configuration>